<form onsubmit={{action "saveUser"}}>
  <div class="field">
    <label>Email:</label>
    {{input type="text" placeholder="Email" value=email}}

    {{#each errors.email as |error|}}
      <span class="error-message">{{error.message}}</span>
    {{/each}}
  </div>

  <div class="field">
    <label>Имя пользователя:</label>
    {{input type="text" placeholder="Username" value=username}}

    {{#each errors.username as |error|}}
      <span class="error-message">{{error.message}}</span>
    {{/each}}
  </div>

  <div class="field">
    <label>Пароль:</label>
    {{input type="password" placeholder="Password" value=password}}

    {{#each errors.password as |error|}}
      <span class="error-message">{{error.message}}</span>
    {{/each}}
  </div>

  <div class="field">
    <label>Подтверждение пароля:</label>
    {{input type="password" placeholder="Confirm Password" value=passwordConfirmation}}

    {{#each errors.passwordConfirmation as |error|}}
      <span class="error-message">{{error.message}}</span>
    {{/each}}
  </div>

  <div class="form-footer">
    <button type="submit" class="btn-submit">Сохранить</button>
  </div>
</form>